<!DOCTYPE html>
<html>
<head>
  <title>Pear</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= requirejs_include_tag 'global' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <ul>
      <li>
        <% if @current_user.present? %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to 'Login', login_path %>
        <% end %>
      </li>
    </ul>
  </div>

<%= yield %>

</body>
</html>
